.create-order {
  margin-bottom: 10px;
}

.owl-dt-container {
  z-index: 2000 !important;
}

label {
  margin-top: 8px;
}

.box-container {
  max-height: 283px;
}

.focus-customer {
  background-color: bisque;
}

dt {
  width: 80px;
}

dd {
  margin-left: 100px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 10px;
}

.close-btn:hover {
  font-size: 1.3em;

}

>>> .modal-lg {
  width: 80%;
}


.table-description {
  table-layout: fixed;
}

.stt {
  width: 5%;
}

.content {
  width: 40%;
}

.unit {
  width: 10%;
}

.quant{
  width: 10%;
}
.inp-content {
  width: 100%;
  max-width: 475px;
}

.btn-add {
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.inp-unit {
  width: 100%;
  height: 33px;
}
