<button *ngIf="!authService.isCurrentUserTechnician" class="create-order btn btn-primary" (click)="modalCreate.open()">Tạo đơn hàng mới</button>


<bs-modal #modalCreate cssClass="modal-lg">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">{{ 'orders.create-order' | translate }}</h4>
  </bs-modal-header>

  <bs-modal-body class="container-fluid">

    <div class="col-md-8">
      <div [formGroup]="formNewOrder">
        <table id="dynamic-table_wrapper" class="table table-striped table-bordered table-hover dataTable no-footer " cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th>Stt</th>
              <th>Nội dung</th>
              <th>Đơn vị</th>
              <th>Số lượng</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr formArrayName="contents" *ngFor="let item of contents; let i = index;">
              <td [formGroupName]="i"> {{i}}</td>
              <td [formGroupName]="i">
                <input formControlName="content" placeholder="Nội dung">
              </td>
              <td [formGroupName]="i">
                <input formControlName="unit" placeholder="Đơn vị ">
              </td>
              <td [formGroupName]="i">
                <input formControlName="quantity" placeholder="Số lượng">
              </td>
<td>
<button *ngIf="contents?.length > 1"  class="btn btn-danger">Delete Button</button>




             </td>
            </tr>
<button (click)=" addRowContent()">Thêm</button>

          </tbody>
        </table>

      </div>

      <div [class.has-error]="formNewOrder.get('price').errors && (formNewOrder.get('price').dirty || formNewOrder.get('price').touched)">
        <label for="new-price" class="control-label">{{ 'orders.price' | translate }}:</label>
        <div class="input-group">
          <input class="form-control right-align" id="new-price" type="text" [formControl]="formNewOrder.get('price')" [textMask]="priceMask"
            numeric>
          <span class="input-group-addon">
            <i class="ace-icon fa fa-money"></i>
          </span>
        </div>
      </div>

      <div class="input-wrapper">
        <label for="datetime-picker" class="control-label">{{ 'orders.due-date' | translate }} *</label>
        <input id="datetime-picker" class="form-control" [formControl]="formNewOrder.get('due_date')" [owlDateTimeTrigger]="dtPicker2"
          [owlDateTime]="dtPicker2" [min]="minDueDate">
        <owl-date-time #dtPicker2 [pickerType]="'calendar'"></owl-date-time>
      </div>

    </div>

    <div class="col-md-4">
      <label for="" class="control-label">
        {{ 'customers.title' | translate}} *
      </label>

      <div class="input-group">
        <input type="search" class="form-control" [(ngModel)]="termCustomer" (input)="onChangeTermCustomer()" (keyup.enter)="chooseCustomer()"
          (keyup.escape)="escapeSearch($event)" (keydown.arrowup)="shiftFocusUp($event)" (keydown.arrowdown)="shiftFocusDown($event)">
        <span class="input-group-addon">
          <i class="ace-icon fa fa-search"></i>
        </span>
      </div>

      <div class="results">
        <perfect-scrollbar class="scroller">
          <div [ngClass]="{'box-container' : termCustomer != ''}">
            <ng-container *ngFor="let customer of customers|mySearch:termCustomer; let rowIDx = index">
              <ng-container *ngIf="termCustomer != ''">
                <button type="button" class="list-group-item list-customers" [attr.data-rowIndex]="rowIDx" [attr.data-idCustomer]="customer.id"
                  #listCustomers (click)="selectCustomer(customer)">
                  <strong>{{ customer.name }}</strong> - {{ customer.phone }}</button>
              </ng-container>
            </ng-container>
          </div>
        </perfect-scrollbar>

        <div [hidden]="!(listCustomers?.length === 0 && termCustomer != '')">
          {{ "notification.not-found" | translate }}
        </div>
      </div>

      <!-- show customer selected -->
      <div *ngIf="customerSelected && termCustomer == ''" [@flyInOut]="'in'">
        <div class="widget-box widget-color-green2">
          <div class="widget-header">
            <h5 class="widget-title bigger lighter">
              <i class="ace-icon fa fa-users"></i> {{ 'customers.selected_customer' | translate }}
            </h5>
            <i class="ace-icon fa fa-times close-btn pointer" tooltip="{{ 'tooltip.close' | translate }}" (click)="customerSelected=null"></i>
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <dl class="dl-horizontal">
                <dt>{{ 'table.name' | translate }}</dt>
                <dd>{{customerSelected?.name}}</dd>

                <dt>{{ 'table.phone' | translate }}</dt>
                <dd>{{customerSelected?.phone}}</dd>

                <dt>{{ 'table.email' | translate }}</dt>
                <dd>{{customerSelected?.email}}</dd>

                <dt>{{ 'table.address' | translate }}</dt>
                <dd>{{customerSelected?.address}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>

    </div>

  </bs-modal-body>

  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalCreate.dismiss()">{{ 'button.cancel' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="createOrder()" [disabled]="!modalCreate.valid">{{ 'button.create' | translate }}</button>
  </bs-modal-footer>
</bs-modal>
