.create-order {
  margin-bottom: 10px;
}

.owl-dt-container {
  z-index: 2000 !important;
}

label {
  margin-top: 8px;
}

.box-container {
  max-height: 283px;
}

.focus-customer {
  background-color: bisque;
}

dt {
  width: 80px;
}

dd {
  margin-left: 100px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 10px;
}

.close-btn:hover {
  font-size: 1.3em;

}

>>> .modal-lg {
  width: 80%;
}
