<div class="form-group">
  <app-input-field [attribute]="'table.name' | translate" [control]="form.get('name')">
  </app-input-field>

  <app-input-field [attribute]="'table.phone' | translate" [control]="form.get('phone')">
  </app-input-field>

  <app-input-field [attribute]="'table.email' | translate" [control]="form.get('email')">
  </app-input-field>

  <app-input-field [attribute]="'table.address' | translate" [control]="form.get('address')">
  </app-input-field>

  <label for="">Nhóm khách hàng: </label>

  <ng-select [items]="groups$ | async"
           bindLabel="title"
           bindValue="id"
           [multiple]="true"
           [formControl]="form.get('group_ids')">
  </ng-select>
</div>