<div class="btn-group">
  <button data-toggle="dropdown"
          class="btn btn-sm dropdown-toggle"
          [ngClass]="{
              'btn-danger': order.status == statusOrder.new,
              'btn-warning': order.status == statusOrder.inprogress,
              'btn-success': order.status == statusOrder.ready}">
    {{ 'label.' + order.status | translate }}
    <i *ngIf="order.status != 'delivered'" class="ace-icon fa fa-angle-down icon-on-right"></i>
  </button>

  <ul class="dropdown-menu dropdown-danger">
    <li>
      <a (click)="updateStatus(order, statusOrder.inprogress)">Trong tiến trình</a>
    </li>

    <li>
      <a (click)="updateStatus(order, statusOrder.ready)">Sẵn sàng</a>
    </li>

    <li>
      <a (click)="updateStatus(order, statusOrder.delivered)">Đã giao hàng</a>
    </li>
  </ul>
</div>
