<div class="user-profile row">
  <div class="col-xs-12 col-sm-3 center">
    <h2>Thông tin khách hàng</h2>
    <div>
      <span class="profile-picture">
        <img id="avatar" class="editable img-responsive editable-click editable-empty" alt="Alex's Avatar" src="../../../../../../assets/avatars/profile-pic.jpg">
      </span>

      <div class="space-4"></div>

      <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
        <div class="inline position-relative">
          <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
            <i class="ace-icon fa fa-circle light-green"></i>
            &nbsp;
            <span class="white">Tên: {{customer?.name}}</span>
          </a>
        </div>
      </div>
    </div>

    <div class="space-6"></div>

    <div class="profile-contact-info">
      <div class="profile-contact-links align-left">
        <div>
          <i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
          Sđt:
          <strong>{{customer?.phone}}</strong>
        </div>
        <div>
          <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
          Email:
          <strong>{{customer?.email}}</strong>
        </div>
        <div>
          <i class="ace-icon fa fa-globe bigger-125 blue"></i>
          Địa chỉ:
          <strong>{{customer?.address}}</strong>
        </div>
        <div>
          <i class="ace-icon fa fa-users"></i>
          Nhóm:
          <strong>{{customer$ | async | showGroup }}</strong>
        </div>
      </div>
    </div>

    <div *ngIf="isCustomerDebt">
      <div class="infobox-data col-xs-8">
        <h4 class="infobox-content blue">Tổng nợ</h4>
        <h3 class="infobox-content red">{{totalDebt | vnd}}</h3>
      </div>
      <div class="col-xs-4">
        <div class="space-10"></div>
        <button class="btn btn-warning" (click)="openCustomerDebtModal(customer)">Trả nợ
          <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9 center">
    <h2>Lịch sử khách hàng</h2>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dynamic-table_wrapper" class="table table-striped table-bordered
                  table-hover dataTable no-footer" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Order</th>
          <th>Nội dung</th>
          <th *ngIf="authService.isCurrentUserAdmin || authService.isCurrentUserAccountant">Giá trị đơn hàng</th>
          <th>Ngày thêm</th>
          <th>Ngày hết hạn</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td (click)="openDetailModal(order)" class="text-left">
            <span class="editable editable-click">{{order?.id}} </span>
          </td>
          <td (click)="openDetailModal(order)" class="text-left">{{order?.contents | parseContentOrder}}</td>
          <td *ngIf="authService.isCurrentUserAdmin || authService.isCurrentUserAccountant" (click)="openDetailModal(order)" class="text-right">{{order?.price | vnd}}</td>
          <td (click)="openDetailModal(order)">{{order?.created_at | dateTimeVi}}</td>
          <td (click)="openDetailModal(order)">{{order?.due_date | dateTimeVi}}</td>
          <td (click)="openDetailModal(order)">
            <span class="label arrowed-right arrowed-in" [ngClass]="{'label-danger': order.status == 'new',
                                      'label-warning': order.status == 'inprogress',
                                      'label-success': order.status == 'ready'}">
              {{ 'label.' + order.status | translate }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-detail-order></app-detail-order>
  <app-pay-debt (payOrderOutput)="handlePayOrder($event)"></app-pay-debt>
</div>
