.border-template {
  border: 2px solid black;
  padding: 10px;
}

div#main-product {
  font-size: 16px;
}

.info-company {
  font-size: 14px;
}


th {
  font-weight: normal;
}

.id-user {
  float: right;
  width: 50%;
}

.table-row {
  table-layout: fixed;
  background-color: #ffffff;
}