<script type="text/javascript">
  try { ace.settings.loadState('sidebar') } catch (e) { }
</script>

<ul class="nav nav-list">
  <li *ngIf="isManager && authService.isCurrentUserAdmin" routerLinkActive="active">
    <a [routerLink]="['/homepage']">
      <i class="menu-icon fa fa-desktop"></i>
      <span class="menu-text"> {{ 'sidebar.dashboard' | translate }} </span>
    </a>
  </li>
  <li *ngIf="isManager" routerLinkActive="active">
    <a [routerLink]="['/dashboard/kanban']">
      <i  class="menu-icon fa fa-credit-card "></i>
      <span class="menu-text"> {{ 'sidebar.kanban' | translate }} </span>
    </a>
  </li>

  <li routerLinkActive="active">
    <a [routerLink]="['/dashboard/list']" [queryParams]="{page: 1, per_page: 10, show_all: false, sorted_by: 'created_at_desc'}">
      <i class="menu-icon fa fa-tasks "></i>
      <span class="menu-text">
        Danh sách đơn hàng
      </span>
    </a>
  </li>

  <li routerLinkActive="active">
    <a [routerLink]="['/customers/list']" [queryParams]="{page: 1, per_page: 10, show_unactive: false, sorted_by: 'name_asc'}">
      <i class="menu-icon fa fa-users "></i>
      <span class="menu-text">
        Khách hàng
      </span>
    </a>
  </li>

  <li routerLinkActive="active" *ngIf="!authService.isCurrentUserTechnician">
    <a [routerLink]="['/customers/groups']">
      <i class="menu-icon fa fa-users "></i>
      <span class="menu-text">
        Nhóm khách hàng
      </span>
    </a>
  </li>


    <li class="" *ngIf="!authService.isCurrentUserTechnician" routerLinkActive="active">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-envelope"></i>
        <span class="menu-text"> Báo giá </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
      <b class="arrow"></b>
      <ul class="submenu">
        <li routerLinkActive="active">
          <a [routerLink]="['/quote-price/form']">
            <i class="menu-icon fa fa-envelope "></i>
            <span class="menu-text">
              Gửi báo giá
            </span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/quote-price/list']">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text">
              Lịch sử báo giá
            </span>
          </a>
        </li>
      </ul>
    </li>

  <li *ngIf="isManager  && authService.isCurrentUserAdmin" routerLinkActive="active">
    <a [routerLink]="['/users']">
      <i class="menu-icon fa fa-user-plus"></i>
      <span class="menu-text"> {{ 'sidebar.user-management' | translate }} </span>
    </a>
  </li>
  
</ul>
<!-- /.nav-list -->

<!-- #section:basics/sidebar.layout.minimize -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
  <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left"
    data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
<!-- /section:basics/sidebar.layout.minimize -->
