<div class="kanban">
  <div class='parent'>
    <label for='hy'>
      <h2 class="text-center">Kanban board</h2>
    </label>
      <div class='wrapper'>
        <div class='md-col-3 container'>
          <h3>New</h3>
          <perfect-scrollbar class="scroller">
            <div  class="bag-status"
                  [dragula]='"first-bag"'
                  [attr.data-id]="statusOrder.new"
                  #bagNew>
              <!-- <div  class="box-order"
                    *ngFor="let order of orders | new;"
                    [attr.data-id]="order.id"
                    [innerHtml]="innerHtml(order)">
              </div> -->

              <li *ngFor="let order of orders | new;" [attr.data-id]="order.id">
                <kanban-card [order]="order" ></kanban-card>
              </li>
            </div>
          </perfect-scrollbar>
        </div>

        <div class='md-col-3 container'>
          <h3>In Progress</h3>
          <perfect-scrollbar class="scroller">
            <div  class="bag-status"
                  [dragula]='"first-bag"'
                  [attr.data-id]="statusOrder.inprogress"
                  #bagInprogress>
              <div  class="box-order"
                    *ngFor="let order of orders | inprogress;"
                    [attr.data-id]="order.id"
                    [innerHtml]="innerHtml(order)">
              </div>
            </div>
          </perfect-scrollbar>
        </div>

        <div class='md-col-3 container'>
          <h3>Ready</h3>
          <perfect-scrollbar class="scroller">
            <div  class="bag-status"
                  [dragula]='"first-bag"'
                  [attr.data-id]="statusOrder.ready"
                  #bagReady>
              <div  class="box-order"
                    *ngFor="let order of orders | ready;"
                    [attr.data-id]="order.id"
                    [innerHtml]="innerHtml(order)">
              </div>
            </div>
          </perfect-scrollbar>
        </div>

        <div class='md-col-3 container'>
          <h3>Closed</h3>
          <perfect-scrollbar class="scroller">
            <div  class="bag-status"
                  [dragula]='"first-bag"'
                  [attr.data-id]="statusOrder.closed"
                  #bagClosed>
              <div  class="box-order"
                    *ngFor="let order of orders | closed;"
                    [attr.data-id]="order.id"
                    [innerHtml]="innerHtml(order)">
              </div>
            </div>
          </perfect-scrollbar>
        </div>

      </div>
</div>
