<div class="box-kanban" *ngIf="orders.length > 0">
    <ul class="grids headers">
      <h4>{{ 'label.new' | translate }}</h4>
      <h4>{{ 'label.inprogress' | translate }}</h4>
      <h4>{{ 'label.ready' | translate }}</h4>
      <h4>{{ 'label.delivered' | translate }}</h4>
    </ul>
    <ul class='col-container' >
        <li  class="bag-status  column-kanban col" [class.zone-drag]="notDragNew"
              [dragula]='"first-bag"'
              [attr.data-id]="statusOrder.new"
              #bagNew>

          <div *ngFor="let order of orders | new;" [attr.data-id]="order.id" class="card-kanban">
            <kanban-card [order]="order" ></kanban-card>
          </div>
        </li>
      <!-- </div> -->

      <!-- <div class='col'> -->
        
        <li  class="bag-status  column-kanban col" [class.zone-drag]="notDragInprogress"
              [dragula]='"first-bag"'
              [attr.data-id]="statusOrder.inprogress"
              #bagInprogress>
          <div *ngFor="let order of orders | inprogress;" [attr.data-id]="order.id" class="card-kanban">
            <kanban-card [order]="order"></kanban-card>
          </div>
        </li>
      <!-- </div> -->

      <!-- <div class='col'> -->
        <li  class="bag-status column-kanban col" [class.zone-drag]="notDragReady"
              [dragula]='"first-bag"'
              [attr.data-id]="statusOrder.ready"
              #bagReady>
          <div *ngFor="let order of orders | ready;" [attr.data-id]="order.id" class="card-kanban">
            <kanban-card [order]="order"></kanban-card>
          </div>
        </li>
      <!-- </div> -->

      <!-- <div class='col'> -->
        <li  class="bag-status  column-kanban col" [class.zone-drag]="notDragDelivered"
              [dragula]='"first-bag"'
              [attr.data-id]="statusOrder.delivered"
              #bagClosed>
          <div *ngFor="let order of orders | delivered;" [attr.data-id]="order.id" class="card-kanban">
            <kanban-card [order]="order"></kanban-card>
          </div>
        </li>
      <!-- </div> -->
    </ul>
</div>
<app-payment-order></app-payment-order>
