<div id="main-product" class="col-md-12">

  <div class="tableTools-container">
    <app-create-customer (newCustomerOutput)="handleAddNewCustomer($event)"></app-create-customer>
  </div>

  <h1>Quản lý khách hàng</h1>

  <div id="dynamic-table_wrapper_wrapper" class="dataTables_wrapper form-inline no-footer">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="dataTables_length" id="dynamic-table_wrapper_length">
          <label>Hiển thị
            <select (change)="onChangeCount($event)" name="dynamic-table_wrapper_length" aria-controls="dynamic-table_wrapper" class="form-control input-sm">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select> dòng</label>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 filter-group">
        <ng-select placeholder="Bộ lọc theo nhóm khách hàng" [items]="groups$ | async" bindLabel="title" bindValue="id" [multiple]="true"
          (change)="onChangeFilter($event)"></ng-select>
      </div>
      <div class="col-sm-12 col-md-4 form-search-query">
        <div class="input-group">
          <input type="text" id="search-customer" class="form-control search-query" placeholder="Tìm kiếm theo tên">
          <span class="input-group-btn">
            <button type="button" class="btn btn-inverse btn-white">
              <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
            </button>
          </span>
        </div>
        <!-- <div class="input-group">
          <span class="input-icon input-icon-right">
            <input type="text" id="form-field-icon-2">
            <i class="ace-icon fa fa-search"></i>
          </span>
        </div> -->
      </div>
    </div>
    <table id="dynamic-table_wrapper" class="table table-striped table-bordered table-hover dataTable no-footer" cellspacing="0"
      width="100%">
      <thead>
        <tr>
          <th>
            <i class="ace-icon fa fa-users"></i>{{ 'table.name' | translate }}</th>
          <th>Nhóm</th>
          <th>
            <i class="ace-icon fa fa-envelope "></i>{{ 'table.email' | translate }}</th>
          <th>
            <i class="ace-icon glyphicon glyphicon-map-marker"></i>{{ 'table.phone' | translate }}</th>
          <th>
            <i class="ace-icon glyphicon glyphicon-home"></i>{{ 'table.address' | translate }}</th>


          <th class="sorting_disabled"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let customer of customers | paginate: configPagination" [@flyOut]="'in'">
          <td (click)="openModalDetail(customer)">
            <span [ngClass]="{'card-key editable editable-click': !authService.isCurrentUserTechnician}">
              {{ customer.name }}
            </span>
          </td>
          <td (click)="openModalDetail(customer)">{{ showGroups(customer, true) }}</td>
          <td (click)="openModalDetail(customer)">{{ customer.email }}</td>
          <td (click)="openModalDetail(customer)">{{ customer.phone }}</td>
          <td (click)="openModalDetail(customer)">{{ customer.address }}</td>
          <td class="action-buttons center">
            <button class="btn btn-xs btn-info" (click)="openModalEdit(customer)">
              <i class="ace-icon fa fa-pencil bigger-120"></i>
            </button>
            <button class="btn btn-xs btn-danger" (click)="openModalDelete(customer)">
              <i class="ace-icon fa fa-trash-o bigger-120"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- start pagition  -->
    <div class="row">

      <div class="col-xs-6">
        Danh sách hiện có {{ configPagination.totalItems }} danh mục
      </div>
      <div class="col-xs-6">
        <pagination-template #p="paginationApi" [id]="configPagination.id" (pageChange)="getPage($event)">
          <div class="dataTables_paginate paging_full_numbers">
            <ul class="pagination">
              <li class="paginate_button first pointer" [class.disabled]="p.isFirstPage()">
                <a (click)="p.previous()"> Trước </a>
              </li>
              <li *ngFor="let page of p.pages" class="paginate_button pointer" [class.active]="p.getCurrent() === page.value">
                <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                  <span>{{ page.label }}</span>
                </a>
                <ng-container *ngIf="p.getCurrent() === page.value">
                  <span>{{ page.label }}</span>
                </ng-container>
              </li>
              <li class="paginate_button last pointer" [class.disabled]="p.isLastPage()">
                <a (click)="p.next()"> Sau </a>
              </li>
            </ul>
          </div>
        </pagination-template>
      </div>
    </div>

    <!-- end pagination -->
  </div>
</div>

<bs-modal #modalConfirm>
  <bs-modal-header [showDismiss]="true">
    <h3 class="modal-title">Bạn có chắc là muốn xóa khách hàng: {{ customerSelected?.name }}</h3>
  </bs-modal-header>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalConfirm.dismiss()">{{ 'button.cancel' | translate }}</button>
    <button type="button" class="btn btn-danger" (click)="deleteCustomer()">{{ 'button.delete' | translate }}</button>
  </bs-modal-footer>
</bs-modal>

<app-edit-customer [customerEdit]="customerToEdit" (dismissModalEdit)="customerToEdit = null" (customerUpdatedEmit)="handleUpdateCustomer($event)"></app-edit-customer>
