<div id="main-product" class="col-md-12">
  <div>
    <app-create-user (newUser)="updateUsers($event)"></app-create-user>
  </div>
  <h1>{{'user.title' | translate}}</h1>
  <div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dynamic-table_wrapper" class="table table-striped table-bordered
              table-hover dataTable no-footer" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>
            <i class="ace-icon fa fa-user"></i>{{ 'table.user' | translate }}</th>
          <th>
            <i>@</i> {{ 'table.email' | translate }}</th>
          <th>
            <i class="ace-icon fa fa-id-card-o"></i> {{ 'table.role' | translate }}</th>
          <th class="sorting_disabled"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <ng-container *ngIf="user.role == roleUser.admin">
              <span class="label label-info arrowed-in arrowed-in-right">
                {{ 'user-management.' + user.role | translate }}
              </span>
            </ng-container>
            <ng-container *ngIf="user.role == roleUser.technician">
              <span class="label label-yellow arrowed-in">
                {{ 'user-management.' + user.role | translate }}
              </span>
            </ng-container>
            <ng-container *ngIf="user.role == roleUser.accountant">
              <span class="label label-success arrowed-in">
                {{ 'user-management.' + user.role | translate }}
              </span>
            </ng-container>
          </td>
          <td>
            <button class="btn btn-xs btn-info" tooltip="{{ 'tooltip.edit' | translate }}" (click)="openModalEdit(user)">
              <i class="ace-icon fa fa-pencil bigger-120"></i>
            </button>
            <button *ngIf="user.active === true"  class="btn btn-xs btn-danger" tooltip="{{ 'tooltip.delete' | translate }}" (click)="openModalDelete(user)">
              <i class="ace-icon fa fa-trash-o bigger-120"></i>
            </button>
            <!-- <button *ngIf="user.active === false" class="btn-success" tooltip="{{ 'tooltip.reactive' | translate }}" (click)="unDelete(user)">
              <i class="ace-icon fa fa-undo bigger-120"></i>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-lock-user (deleteUserOutput)="handleDeleteUser($event)"></app-lock-user>
<app-edit-user (UpdateUserOutput)="handleUpdateUser($event)"></app-edit-user>