<div id="main-product" class="col-md-12">
  <h1>Lịch sử báo giá</h1>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dynamic-table_wrapper" class="table table-striped table-bordered
              table-hover dataTable no-footer" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Nội dung</th>
        <th>Tên khách hàng</th>
        <th>Email</th>
        <th>Ngày tạo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of quote_prices">
        <td (click)="openPreview(quote)">
          <span class="card-key editable editable-click">{{ quote.value.contents | parseContentOrder }}</span>
        </td>
        <td (click)="navigateToCustomer(quote.value.customer_id)">
          <span class="card-key editable editable-click">{{ quote.value.to_customer }}</span>
        </td>
        <td>{{ quote.value.to_email }}</td>
        <td>{{ quote.created_at | dateTimeVi }}</td>
      </tr>
    </tbody>
  </table>
</div>

<bs-modal #modal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Xem lại mẫu báo giá</h4>
  </bs-modal-header>
  <bs-modal-body>
    <ng-template ad-host></ng-template>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="btn btn-default" (click)="modal.dismiss()">Đóng</button>
  </bs-modal-footer>
</bs-modal>

