<bs-modal #modalPayDebt [size]="'lg'">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">
      {{ 'customers_in_debt.ListOrders.Title' | translate }}
      <a [href]="'mailto:'+ customer?.email">{{customer?.name}}</a>
    </h4>
  </bs-modal-header>

  <bs-modal-body>
    <div class="space-10"></div>
    <div class="widget-box">
      <div class="widget-header">
        <h4 class="widget-title">Thanh toán tiền nợ </h4>
      </div>

      <div class="widget-body">
        <div class="widget-main no-padding">

          <form class="form-inline">
            <h3>Tổng số tiền nợ: {{ customer?.total_debt | vnd }}</h3>
            <input type="text" class="right-align" [formControl]="payment" numeric>
            <button type="button" class="btn btn-primary btn-sm" (click)="payCustomerDebt(payment.value)">
              <i class="ace-icon fa fa-money bigger-110"></i> Thanh toán
            </button>
          </form>

          <div class="space-10"></div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>{{ 'table.No' | translate }}</th>
          <th>Nội dung</th>
          <th>{{ 'table.due-date' | translate }}</th>
          <th>{{ 'table.debt_date' | translate }}</th>
          <th class="text-right">{{ 'orders.price' | translate }}</th>
          <th class="text-right">{{ 'table.debt' | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let order of orders">
          <td>
            #{{ order.id }}
          </td>
          <td class="text-left">
            {{ order.contents | parseContentOrder }}
          </td>
          <td>
            {{ order.due_date | dateTimeVi}}
          </td>
          <td>
            {{ order.delivered_at | dateTimeVi}}
          </td>
          <td class="debt bigger-110 text-right">
            {{ order.price | vnd}}
          </td>
          <td class="debt bigger-110 text-right">
            {{ order.price - order.paid_amount | vnd}}
          </td>
        </tr>
      </tbody>
    </table>
  </bs-modal-body>

  <bs-modal-footer>
    <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="modalPayDebt.dismiss()">{{ 'customers_in_debt.ListOrders.Button.Close' | translate }}</button>
  </bs-modal-footer>
</bs-modal>
