.box-filter {
  background: #EFF3F8;
}

.my-select {

}

.c-btn {
  padding: 5 inherit;
}

.input-daterange {
  width: auto;
}

#date >>> dp-date-picker.dp-material .dp-picker-input {
  width: auto;
}

#select >>> .selected-list .c-btn{
  padding: 5px;
}
