<div class="card" color-order="{{ order.due_date }}" status-order="{{ order.status }}">
  <div>
    <div class="card-key"> #{{ order.id }}</div>
    <h5>
      <i class="fa fa-users  "></i> {{order.customer?.name}}
    </h5>
    <h6 [tooltip]="kanbanCardToolTip">{{ order.description | truncateDescription }}</h6>
    <h6>
       {{ 'orders.due-date' | translate }}: {{ order.due_date | dateTimeVi}}
    </h6>
  </div>
</div>

<tooltip-content #kanbanCardToolTip>
  <div class="box-tooltip">
    <h5 class="title-tooltip text-left">{{ 'orders.description' | translate }}:</h5> 
    <span class="text-left">{{order.description }}</span>
  </div>
</tooltip-content>