<div  class="card" color-order="{{ order.due_date }}" status-order="{{ order.status }}">
  <div>
    <div class="card-key" (click)="openDetailModal(order)"> <i class="fa fa-users  "></i> {{order.customer?.name}}</div>
    <h6>{{ order.contents | parseContentOrder }}</h6>
    <h6>
       {{ 'orders.due-date' | translate }}: {{ order.due_date | dateTimeVi}}
    </h6>
  </div>
</div>

<!-- <tooltip-content #kanbanCardToolTip>
  <div class="box-tooltip">
<h5 class="title-tooltip text-left">{{ 'orders.content' | translate }}:</h5>
    <span class="text-left">{{order.contents }}</span>
  </div>
</tooltip-content> -->

