<bs-modal #modalEdit [size]="'lg'" [keyboard]="false">
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Tao order</h4>
  </bs-modal-header>

  <bs-modal-body class="container-fluid">

    <div class="col-md-6">
      <!-- description -->
      <div [class.has-error]="formEditOrder.get('description').errors && (formEditOrder.get('description').dirty || formEditOrder.get('description').touched)">
        <label for="new-description" class="control-label">Description</label>
        <textarea class="form-control" rows="4" id="new-description" maxlength="200" [formControl]="formEditOrder.get('description')"></textarea>

      </div>

      <div [class.has-error]="formEditOrder.get('price').errors && (formEditOrder.get('price').dirty || formEditOrder.get('price').touched)">
        <label for="new-price" class="control-label">{{ 'orders.price' | translate }}:</label>
        <div class="input-group">
          <input class="form-control" id="new-price" type="number" [formControl]="formEditOrder.get('price')">
          <span class="input-group-addon">
            <i class="ace-icon fa fa-money"></i>
          </span>
        </div>
      </div>

      <div>
        <label for="paid_amount" class="control-label">Paid amount</label>
        <div class="input-group">
          <input type="text" class="form-control" id="paid_amount" [value]="order?.paid_amount" readonly=true >
          <span class="input-group-addon">
            <i class="ace-icon fa fa-money"></i>
          </span>
        </div>
      </div>

      <div class="input-wrapper">
        <label for="datetime-picker" class="control-label">Due date:</label>
        <input id="datetime-picker" class="form-control" [formControl]="formEditOrder.get('due_date')" [owlDateTimeTrigger]="dtPicker2"
          [owlDateTime]="dtPicker2">
        <owl-date-time #dtPicker2 [pickerType]="'calendar'" [startAt]="startAt"></owl-date-time>
      </div>

    </div>

    <div class="col-md-6">
      <label for="" class="control-label">
        Customer:
      </label>

      <div class="input-group">
        <input type="search" class="form-control" [(ngModel)]="termCustomer" (input)="onChangeTermCustomer()" (keyup.enter)="chooseCustomer()"
          (keyup.escape)="escapeSearch($event)" (keydown.arrowup)="shiftFocusUp($event)" (keydown.arrowdown)="shiftFocusDown($event)">
        <span class="input-group-addon">
          <i class="ace-icon fa fa-search"></i>
        </span>
      </div>

      <div class="results">
        <perfect-scrollbar class="scroller">
          <div [ngClass]="{'box-container' : termCustomer != ''}">
            <ng-container *ngFor="let customer of customers|mySearch:termCustomer; let rowIDx = index">
              <ng-container *ngIf="termCustomer != ''">
                <button type="button" class="list-group-item list-customers" [attr.data-rowIndex]="rowIDx" [attr.data-idCustomer]="customer.id"
                  #listCustomers (click)="selectCustomer(customer)">
                  <strong>{{ customer.name }}</strong> - {{ customer.phone }}</button>
              </ng-container>
            </ng-container>
          </div>
        </perfect-scrollbar>

        <div [hidden]="!(listCustomers?.length === 0 && termCustomer != '')">
          {{ "notification.not-found" | translate }}
        </div>
      </div>

      <!-- show customer selected -->
      <div *ngIf="customerSelected && termCustomer == ''" [@flyInOut]="'in'">
        <div class="widget-box widget-color-green2">
          <div class="widget-header">
            <h5 class="widget-title bigger lighter">
              <i class="ace-icon fa fa-users" tooltip="{{ 'tooltip.close' | translate }}"></i> {{ 'customers.selected_customer' | translate }}
            </h5>
            <i class="ace-icon fa fa-times close-btn pointer" (click)="customerSelected=null"></i>
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <dl class="dl-horizontal">
                <dt>{{ 'table.name' | translate }}</dt>
                <dd>{{customerSelected?.name}}</dd>

                <dt>{{ 'table.phone' | translate }}</dt>
                <dd>{{customerSelected?.phone}}</dd>

                <dt>{{ 'table.email' | translate }}</dt>
                <dd>{{customerSelected?.email}}</dd>

                <dt>{{ 'table.address' | translate }}</dt>
                <dd>{{customerSelected?.address}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>

    </div>

  </bs-modal-body>

  <bs-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalEdit.dismiss()">{{ 'button.cancel' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="updateOrder()">{{ 'button.update' | translate }}</button>
  </bs-modal-footer>
</bs-modal>