<button type="button" class="btn btn-primary" (click)="modal.open()">{{ 'customers.create' | translate }}</button>

<bs-modal #modal>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">{{ 'customers.titleModal' | translate }}</h4>
  </bs-modal-header>
  <bs-modal-body>
    <app-form-customer></app-form-customer>
  </bs-modal-body>
  <bs-modal-footer>
    <button class="btn btn-primary add-cus" (click)="addCustomer()" (click)="modal.close()" [disabled]="formAdd.invalid" data-dismiss="modal">
      {{ 'customers.create' | translate }}</button>
    <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="modal.dismiss()">
      {{ 'customers.close' | translate }}</button>
  </bs-modal-footer>
</bs-modal>
